/* BASIC STYLES HERE */

.logo {
    height: 60px;
    width: 60px;
}

.img-container {
    height: auto;
    max-height: 75vh;
    width: 100%;
    object-fit: cover;
}

.wood-brown {
    /* background-color: #5c463c; */
    background-color: #2b1217;
}

.header-font {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Single Day', cursive;
    font-size: 80px;
    color: #fef3c9;
}

.background-orange {
    background-color: #f7cb9a;
}

.foreground-orange {
    background-color: #dc633b;
}

.button-color {
    background-color: #f83323;
}

.light-text {
    color: #fef3c9;
}