<section class="container-fluid ">
    <section class="row justify-content-around ">

        <div class="col-4 ">
            <div class="sticky-top ">
                <form onsubmit="app.PostsController.createPost()" class=" form-control mt-3 foreground-orange">
                    <div>
                        <input required class="m-1 w-100" type="text" placeholder="Your Title Here" minlength="3"
                            maxlength="50" name="title" id="title">
                    </div>
                    <div>
                        <input required class="m-1 w-100" type="url" placeholder="Put a image URL here" minlength="10"
                            maxlength="500" name="imgUrl" id="imgUrl">
                    </div>
                    <div>
                        <textarea class="form-control bg-white m-1" name="description" id="description" cols="30"
                            rows="10" placeholder="Your super amazing description goes here"></textarea>
                    </div>
                    <div class="text-end m-1 mt-2">
                        <button type="submit" class="btn wood-brown light-text">POST!</button>
                    </div>
                </form>
            </div>

        </div>


        <div class="col-7" id="post-placement">

        </div>



        <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="commentModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- <div class="foreground-orange rounded mt-3">
            <p class="fs-3 px-3 my-0">${this.title}</p>
            <p class="px-3">${this.description}</p>
            <img class="img-container" src="${this.imgUrl}" alt="Picture of ${this.title}">
            <div class="d-flex justify-content-around">
                <button type="button" class="btn wood-brown light-text m-2" data-bs-toggle="modal"
                    data-bs-target="#commentModal" id="${this.id}">
                    Comments
                </button>
                <div>
                    <span><i class="mdi mdi-arrow-up-bold-box"></i></span>
                    <span><i class="mdi mdi-arrow-down-bold-box"></i></span>
                </div>
            </div>
        </div> -->


    </section>
</section>