<section class="container-fluid">
    <section class="row justify-content-around">

        <div class="col-8 d-flex mt-3 sticky-top">
            <form onsubmit="" class="form-control">
                <div>
                    <input required class="m-1 w-100" type="text" placeholder="Your Title Here" minlength="3"
                        maxlength="50" name="Title" id="Title">
                </div>
                <div>
                    <input required class="m-1 w-100" type="url" placeholder="Put a image URL here" minlength="10"
                        maxlength="500" name="imgUrl" id="imgUrl">
                </div>
                <div>
                    <textarea class="form-control bg-white m-1" name="description" id="description" cols="30" rows="10"
                        placeholder="Your super amazing description goes here"></textarea>
                </div>
                <div class="text-end m-1 mt-2">
                    <button onsubmit="" class="btn btn-success">POST!</button>
                </div>

            </form>

        </div>


        <div class="col-7" id="post-placement">

        </div>

        <!-- <div class="col-7 bg-secondary rounded mt-3">
            <p class="fs-3 px-3 my-0">Title</p>
            <p class="px-3">super awesome description that has totally important info</p>
            <img class="img-container"
                src="https://images.unsplash.com/photo-1470246973918-29a93221c455?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="Y U NO WORK??">
        </div> -->


    </section>
</section>